<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.code_x2_recycleview">

    <application>
        <activity android:name="com.zinc.code_x2_recycleview.ClientActivity" />
        <activity android:name="com.zinc.code_x2_recycleview.recycler.RecyclerActivity" />
    </application>

</manifest>
