<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class21_svg">

    <application>
        <activity android:name=".SvgMapActivity" />
        <activity android:name=".SvgUseActivity" />
        <activity android:name=".JueJinAnimActivity" />
        <activity android:name=".ClientActivity" />
    </application>

</manifest>
