<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class4_xfermode">

    <application>

        <activity
            android:name=".activity.GoogleXFerModeActivity"
            android:hardwareAccelerated="false" />

        <activity
            android:name=".activity.ZincXFerModeActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="landscape" />

        <activity android:name=".activity.XFerModeItemActivity"
            android:hardwareAccelerated="false"
            />

        <activity android:name=".activity.HeartActivity" />

        <activity android:name=".activity.ScratchCardActivity" />

        <activity android:name=".ClientActivity" />

        <activity android:name=".activity.AddAndOverlayActivity"
            android:hardwareAccelerated="false"
            />

    </application>

</manifest>