<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class4_xfermode">

    <application>

        <activity
            android:name=".activity.GoogleXFerModeActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activity.ZincXFerModeActivity"
            android:screenOrientation="landscape"
            android:hardwareAccelerated="true"
            />
        <activity android:name=".activity.XFerModeItemActivity" />
        <activity android:name=".ClientActivity" />

    </application>

</manifest>