<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class4_xfermode">

    <application>

        <activity
            android:name=".activity.GoogleXFerModeActivity"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".activity.ZincXFerModeActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />

        <activity android:name=".activity.XFerModeItemActivity" />

        <activity android:name=".activity.HeartActivity" />

        <activity android:name=".activity.ScratchCardActivity" />

        <activity android:name=".ClientActivity" />

        <activity android:name=".activity.AddAndOverlayActivity" />

    </application>

</manifest>