<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class3_paint" >

    <application>
        <activity android:name=".activity.GradientHeartActivity"/>
        <activity android:name=".activity.BitmapShaderActivity"/>
        <activity android:name=".activity.TileModeActivity"/>
        <activity android:name=".activity.PaintActivity"/>
        <activity android:name=".activity.RunningLinearGradientActivity"/>
        <activity android:name=".ClientActivity"/>
    </application>

</manifest>
