<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class7_bezier">

    <application>
        <activity android:name=".activity.ClientActivity" />
        <activity android:name=".activity.BezierActivity" />
        <activity android:name=".activity.CircleActivity" />
        <activity android:name=".activity.AnimBezierActivity" />
    </application>

</manifest>
