<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.code8_canvas_draw">

    <application>

        <activity android:name="com.zinc.code8_canvas_draw.activity.ClientActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.activity.CommonListActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.activity.ClockActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.activity.CommonOperatorActivity" />

    </application>

</manifest>
