<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.code8_canvas_draw">

    <application>

        <activity android:name="com.zinc.code8_canvas_draw.ControlListActivity.ClientActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.ControlListActivity.DrawListActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.ControlListActivity.ClockActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.ControlListActivity.DrawOperatorActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.ControlListActivity.ControlListActivity" />
        <activity android:name="com.zinc.code8_canvas_draw.ControlListActivity.ControlOperatorActivity" />

    </application>

</manifest>
