<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class12_animation">

    <application>
        <activity android:name=".activity.SimpleAnimationActivity" />
        <activity android:name=".activity.RadarActivity" />
        <activity android:name=".activity.ClientActivity" />
        <activity android:name=".activity.DialActivity" />
        <activity
            android:name=".activity.TimeInterpolatorActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.ShoppingActivity"/>
    </application>

</manifest>
