<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.class8_pathmeasure">

    <application>
        <activity android:name=".activity.BoatLoadingActivity" />
        <activity android:name=".activity.PlaneLoadingActivity" />
        <activity android:name=".activity.CommonActivity" />
        <activity android:name=".activity.GetSegmentActivity" />
        <activity android:name=".activity.ClientActivity" />
    </application>

</manifest>
